/* App.css */

.container {
  display: flex;
  gap: 20px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}




#bg-video {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  background: rgba(207, 11, 11, 0.75);
  opacity: 55%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* covers entire screen */
  z-index: -1;
  
}.whatsapp-float {
  position: fixed;
  bottom: 120px;
  right: 50px;
  z-index: 9999;
}

.whatsapp-float img {
  width: 60px;
  height: 60px;
  opacity: 100%;
  cursor: pointer;
}

.call-float {
  position: fixed;
  bottom: 50px;  
  right: 50px;
  z-index: 9999;
}

.call-float img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.location{

  width: 50px;
  height: 50px;
}