/* App.css */

.container {
  display: flex;
  gap: 20px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}




#bg-video {
  position: absolute; /* safer on mobile than fixed */
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh; /* full height of viewport */
  object-fit: cover; /* keeps video aspect ratio */
  z-index: -1; /* behind text */
}
.whatsapp-float {
  position: fixed;
  bottom: 120px;
  right: 50px;
  z-index: 9999;
}

.whatsapp-float img {
  width: 60px;
  height: 60px;
  opacity: 100%;
  cursor: pointer;
}

.call-float {
  position: fixed;
  bottom: 50px;  
  right: 50px;
  z-index: 9999;
}

.call-float img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.location{

  width: 50px;
  height: 50px;
}